body {
   background-color: #FFBC7A;
}

.container {
    width: 50%;
}

form {
    margin-top: 10%;
}

button {
    color: #fff;
    background-color: #A10200;
}

#result{
    text-decoration: none;
    background-color:none;
}