body {
   background-color: #112F41;
}

.container {
    width: 50%;
}

.input-group {
    margin-top: 10%;
}

.submit {
    color: #fff;
    background-color: #A10200;
}

#result{
    text-decoration: none;
    background-color:none;
}

div.extra:hover {
background-color: #ED553B;
}